@{
    ViewData["Title"] = "Anagram";
    Layout = "~/Views/Shared/_Layout.cshtml";
}





<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Enter a word into each textbox</p>




<div>
    <div>
        <input id="TextBox1" type="text" />
        <label for="TextBox1">First Word</label>
    </div>
    <br />
    <div>
        <input id="TextBox2" type="text" />
        <label for="TextBox2">Second Word</label>
    </div>
    <br />
    <div>
        <input id="Button1" type="button" value="??" />
        <a asp-area="Anagram" asp-controller="Anagram" asp-action="Calculate"></a>
    </div>
    <br />
    <br />

    <div>
        <textarea id="TextArea1" rows="2" cols="20" readonly="readonly"></textarea>
    </div>
</div>